   alias cr='crystal'
  alias gpl="gl"
  alias gs="gsb"
  alias la="ls -al"
  alias lf="ls -al | grep ${1}"
  alias ls="ls -Gl"
  alias tt="$EDITOR ~/.tmux.conf"
  alias u="utils"
  alias vcp="vim +PlugClean +qall"
  alias vip="vim +PlugInstall +qall"
  alias vup="vim +PlugUpdate"
  alias vv="$EDITOR ~/.vimrc"
  alias zx="source ~/.zshrc"
  alias zz="$EDITOR ~/.zshrc"

alias v='f -e vim' # quick opening files with vim
alias m='f -e mplayer' # quick opening files with mplayer
alias o='a -e xdg-open' # quick opening files with xdg-open

if command -v apt-fast &> /dev/null
then
	alias apt-get='apt-fast'

fi
if command -v exa &> /dev/null
then
	alias l='exa'
  alias la='exa -a'
  alias ll='exa -lah'
  alias ls='exa --color=auto'
fi
if command -v bat &> /dev/null
then
	alias cat='bat'
fi
