set smartindent
set autoindent
set number relativenumber
set nohlsearch
set incsearch
set ignorecase
set smartcase
set noerrorbells
set nowrap
set noswapfile
set nobackup
set scrolloff=8
set clipboard=unnamedplus

"Plugins
set surround
set commentary
set highlightedyank
set multiple-cursors

noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

set showcmd
set showmatch
set autowrite
set mouse=r

"for s:i in ['"','*','+','-','.',':','%','/','=','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
"    execute 'noremap "'.s:i.'p "'.s:i.'p'
"    execute 'noremap "'.s:i.'P "'.s:i.'P'
"endfor
